<!-- <label>
    <input type="checkbox" [(ngModel)]="allowSubCategory" />
    Allow Subcategory
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="withoutCustandPro" />
    Hide Customer and Product
  </label> -->

<div [ngClass]="{ 'category-ContainerHide': withoutCustandPro, 'category-Container': !withoutCustandPro }">
    <button class="nav-button left" *ngIf="allowSubCategory" (click)="scrollCategory(-800)"><i class="bi bi-chevron-left"></i></button>
    <div class="category-section" #categorySection>
      <div #categoryWithChild [ngClass]="allowSubCategory ? 'CategoryWithChild' : 'content'">
        <div class="add-category-card" [routerLink]="['/form/category']">
          <div class="add-category-icon">
            <i class="bi bi-plus-lg"></i>
          </div>
          <span class="add-category-text">Add Category</span>
        </div>
        <div class="category-card" *ngFor="let cat of categoryTreeData; let i = index" (click)="CategorySelected(cat, categoryTreeData)">
          <img [src]="cat.categoryImage || 'PointOfSale/POSButtons/add-image.png'" />
          <h5>{{ cat.categoryName }}</h5>
        </div>
     
     
          

        <div class="loader" *ngIf="isCategoryLoading"></div>
      </div>


   

      <div class="child-categorysection" *ngIf="(subCategories?.childrens?.length ?? 0) > 0 && allowSubCategory">
        <div class="child-category-container">
          <div class="CategoryWithChild">
            <div *ngFor="let child of subCategories?.childrens">
              <div class="child-category-card" (click)="CategorySelected(child, subCategories?.childrens)">
                <img [src]="child.categoryImage || 'PointOfSale/POSButtons/add-image.png'" />
                <h5>{{ child.categoryName }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    

    <button class="nav-button right" *ngIf="allowSubCategory" (click)="scrollCategory(800)"><i class="bi bi-chevron-right"></i></button>
    <button class="nav-button top" *ngIf="!allowSubCategory" (click)="scrollCategoryVertical(-100)">
      <i class="bi bi-chevron-up"></i>
    </button>
    <button class="nav-button down" *ngIf="!allowSubCategory" (click)="scrollCategoryVertical(100)">
      <i class="bi bi-chevron-down"></i>
    </button>
  </div>

