<div #productsContainer class="Products-Container">
  <div class="div">
    <div class="product-Section">
      <div class="productHeader">
        <h2 class="title">Products</h2>

        <div class="d-flex">
          <button class="add-item-btn">
            <span class="plus-icon"
              ><i class="bi bi-plus-lg"></i
            ></span>
            Add Item
          </button>

          <div class="group">
            <i class="bi bi-search icon"></i>
            <input
              class="input"
              type="search"
              placeholder="Search"
            />
          </div>
        </div>
      </div>

      <div class="product-card" *ngFor="let product of products; let i = index">
     
        <img
        [src]="(product.images && product.images[0]?.secureUrl) || 'PointOfSale/POSButtons/add-image.png'"
        [alt]="product.productName || 'Product image'"
        class="product-image"
      />
        <div class="product-info">
          <font class="product-name">{{ product.productName }}</font>
          <font class="product-Code">{{ product.productCode }} <br /></font>
          <font class="product-price">  {{ (product.retailPrice ?? 0) | number:'1.2-2' }} 
            {{ currentLoggedCompany?.currencySymbol }}</font>
        </div>
      </div>
      
      
      
    
      
    </div>
  </div>
    <button
      class="nav-button ProductTop"
      (click)="scrollProducts(-400)"
    >
      <i class="bi bi-chevron-up"></i>
    </button>
    <button
      class="nav-button ProductDown"
      (click)="scrollProducts(400)"
    >
      <i class="bi bi-chevron-down"></i>
    </button>
  </div>