<div class="action-containerUnderButtons">
    <div class="ActionBtn-Section">
      <div class="icon-container2"> 
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/CASH.png" alt="" />
          <span>CASH</span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/return-on-investment.png" alt="" />
          <span>CARD</span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/BANKTRANSFER.png" alt="" />
          <span>BANK TRF</span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/Print.png" alt="" />
          <span>PRINT </span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/Credit3d.png" alt="" />
          <span>CREDIT </span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/invoice.png" alt="" />
          <span>SETTLE INVOICE </span>
        </div>
        <div class="actionButtons2">
          <img src="PointOfSale/POSButtons/SplitPayment.png" alt="" />
          <span>SPLIT PAY/ SETTLE</span>
        </div>
      </div>
    </div>
  </div>