
                  <div class="ActionBtn-Section d-flex justify-content-center">
                    <div class="icon-container2">
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/Customer.png" alt="" />
                        <span>CUSTOMER (F2) </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/take away.png" alt="" />
                        <span>TAKE AWAY</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/deliveryBoy.png" alt="" />
                        <span>DELIVERY</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/Dinein.png" alt="" />
                        <span>DINE IN</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/salesman.png" alt="" />
                        <span>SALESMAN </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/table select.png" alt="" />
                        <span>TABLE SELECT </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/tableandarea.png" alt="" />
                        <span>TABLE & AREA </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/KOT1.png" alt="" />
                        <span>KOT</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/notes.png" alt="" />
                        <span>NOTES</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/small.png" alt="" />
                        <span>SMALL</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/medium.png" alt="" />
                        <span>MEDIUM </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/large.png" alt="" />
                        <span>LARGE </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/deliverytime.png" alt="" />
                        <span>DELIVERY DATE</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/print shelftag.png" alt="" />
                        <span>PRINT SHELF TAG </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/CashDrawer.png" alt="" />
                        <span>OPEN CASH DRAWER </span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/checkin.png" alt="" />
                        <span>CHECK IN</span>
                      </div>
                      <div class="actionButtons">
                        <img src="PointOfSale/POSButtons/AssignSm.png" alt="" />
                        <span>ASSIGN SM</span>
                      </div>
                    </div>
                  </div>
           