.Grid-Cart {
  border: 1px solid #c8c8c868;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .order-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .btn-custom {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 12px;
    background: #fff;
    color: #333;
    font-weight: 500;
  }
  .btn-custom img {
    color: gray;
    width: 18px !important;
  }
  .btn-custom:hover {
    background: #f8f8f8;
    .broom {
      width: 20px !important;
    }

    .fa-hand-paper-o {
      color: #007bff;
    }
  }

  .tendchange-card {
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 60%;
    margin-top: 10px;
    gap: 10px;

    input {
      padding: 10px 15px;
      border: 1px solid #accdffdd;
      border-radius: 8px;
      font-size: 16px;
      outline: none;
      transition: all 0.3s ease-in-out;
      width: 50%;
      background: rgba(235, 243, 255, 1);
      color: rgba(72, 145, 255, 1);
    }

    input::placeholder {
      color: rgba(72, 145, 255, 1);
    }

    input:focus {
      border-color: rgba(72, 145, 255, 1);
      box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
      background: rgba(235, 243, 255, 1);
    }

    .result {
      margin-top: 0;
      font-size: 16px;
      font-weight: bold;
      color: #4caf50;
      padding: 10px 20px;
      background: #e8f5e9;
      border-radius: 8px;
      width: 50%;
      text-align: center;
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .result:hover {
      background: #4caf50;
      color: #fff;
    }
  }
}
.Grid-CartWithCusPro {
  border: 1px solid #c8c8c868;
  padding: 8px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .order-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .btn-custom {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 12px;
    background: #fff;
    color: #333;
    font-weight: 500;
  }
  .btn-custom img {
    color: gray;
    width: 18px !important;
  }
  .btn-custom:hover {
    background: #f8f8f8;

    .broom {
      width: 20px !important;
    }

    .fa-hand-paper-o {
      color: #007bff;
    }
  }

  .tendchange-card {
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 60%;
    margin-top: 10px;
    gap: 10px;

    input {
      padding: 6px 15px;
      border: 1px solid #accdffdd;
      border-radius: 8px;
      font-size: 12px;
      outline: none;
      transition: all 0.3s ease-in-out;
      width: 50%;
      background: rgba(235, 243, 255, 1);
      color: rgba(72, 145, 255, 1);
    }

    input::placeholder {
      color: rgba(72, 145, 255, 1);
    }

    input:focus {
      border-color: rgba(72, 145, 255, 1);
      box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
      background: rgba(235, 243, 255, 1);
    }

    .result {
      margin-top: 0;
      font-size: 12px;
      font-weight: bold;
      color: #4caf50;
      padding: 8px 20px;
      background: #e8f5e9;
      border-radius: 8px;
      width: 50%;
      text-align: center;
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .result:hover {
      background: #4caf50;
      color: #fff;
    }
  }
}

.table-container {
  background-color: rgba(235, 243, 255, 1);
  border-radius: 14px;
  padding: 10px;
  margin-top: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  .table-row:hover {
    background-color: rgba(172, 205, 255, 0.123);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

    td {
      background-color: rgba(172, 205, 255, 0.123);
    }

    .boldCls {
      font-weight: 500 !important;
      color: rgb(202, 51, 51) !important;
    }
  }

  .details h3 {
    margin: 0;
    font-size: 16px;
  }

  .tags {
    display: flex;
    gap: 8px;
    margin-top: 5px;
  }


  .tag {
    border: 1px solid rgba(72, 145, 255, 0.701);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 11px !important;
    color: #555;
    background-color: rgba(172, 205, 255, 0.123);
  }

  .product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .product-actions {
    display: flex;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .qty-btn {
    background: rgba(72, 145, 255, 1);
    border: none;
    color: white;
    padding: 0px 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    display: flex;
    align-items: center;
  }

  .qty-btn:hover {
    background: rgba(72, 145, 255, 1);
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.215);
    transform: scale(1.1);
  }

  .qty-btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 10px rgba(0, 123, 255, 0.3);
  }

  .quantity {
    font-size: 14px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
    color: #000000;
  }

  .product-price,
  .product-Total {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }
  .product-Total {
    display: flex;
    justify-content: space-between;
  }

  .delete-btn {
    background: #ff5c5c;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  tfoot {
    border-top: 1px solid rgba(72, 145, 255, 1);
    .footer {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      padding: 5px;
      width: 100%;
    }

    .netAmount {
      font-size: 18px;
      font-weight: 600;
      color: rgba(72, 145, 255, 1);
    }
  }
}

.product-table th,
.product-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



.product-table th {
  background-color: rgba(235, 243, 255, 1);
  color: rgba(72, 145, 255, 1);
  border-bottom: 1px solid rgba(72, 145, 255, 1);
}
.product-table td {
  background-color: rgba(235, 243, 255, 1);
  color: rgba(55, 55, 55, 1);
  border: none;
}

.product-tablewithCatPro {
  width: 100%;
  border-collapse: collapse;
  background-color: white;


  .offerPriceProductrow td{
    background-color: #80Ef80;
  }
  .offerPriceProductrow:hover{

    td{
      background-color: #80Ef80 !important;
    }
    
  }

  .table-row:hover {
    background-color: rgba(172, 205, 255, 0.123);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

    td {
      background-color: rgba(172, 205, 255, 0.123);
    }
  }

  .details h3 {
    margin: 0;
    font-size: 12px;
  }



  .tags {
    display: flex;
    gap: 8px;
    margin-top: 5px;
  }

  .tag {
    border: 1px solid rgba(72, 145, 255, 0.701);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 10px;
    color: #555;
    background-color: rgba(172, 205, 255, 0.123);
  }
  .tag2 {
    border: 1px solid rgba(72, 145, 255, 0.701);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 10px;
    color: #555;
    background-color: rgba(172, 205, 255, 0.123);
  }

  .disablepoint {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }
  .product-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .product-actions {
    display: flex;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .qty-btn {
    background: rgba(72, 145, 255, 1);
    border: none;
    color: white;
    padding: 0px 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    display: flex;
    align-items: center;
  }

  .qty-btn:hover {
    background: rgba(72, 145, 255, 1);
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.215);
    transform: scale(1.1);
  }

  .qty-btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 10px rgba(0, 123, 255, 0.3);
  }

  .quantity {
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    color: #000000;
  }

  .product-price,
  .product-Total {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
  }
  .product-Total {
    display: flex;
    justify-content: space-between;
  }

  .delete-btn {
    background: #ff5c5c;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  tfoot {
    border-top: 1px solid rgba(72, 145, 255, 1);
    .footer {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 12px;
      padding: 0px;
      width: 100%;
    }

    .netAmount {
      font-size: 14px;
      font-weight: 600;
      color: rgba(72, 145, 255, 1);
    }
  }
}

.product-tablewithCatPro th,
.product-tablewithCatPro td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-tablewithCatPro th {
  background-color: rgba(235, 243, 255, 1);
  color: rgba(72, 145, 255, 1);
  border-bottom: 1px solid rgba(72, 145, 255, 1);
  font-size: 14px;
}
.product-tablewithCatPro td {
  background-color: rgba(235, 243, 255, 1);
  color: rgba(55, 55, 55, 1);
  border: none;
}
// --------------------------------------------------------in POS Resolution-------------------------------------------------------------------------------

@media (max-width: 1030px) and (min-width: 990px) {
  .Grid-Cart {
    border: 1px solid #c8c8c868;
    padding: 15px;

    .order-actions {
      gap: 10px;
    }
    .btn-custom {
      gap: 6px;
      padding: 5px 12px;
      font-size: 13px;
    }
    .btn-custom img {
      color: gray;
      width: 16px !important;
    }

    .tendchange-card {
      width: 60%;
      margin-top: 10px;
      gap: 10px;

      input {
        padding: 6px 15px;
        font-size: 12px;
        width: 60%;
      }

      .result {
        font-size: 12px;
        padding: 6px 20px;
        font-weight: 600;
      }
    }
  }

  .Grid-CartWithCusPro {
    padding: 4px;

    .order-actions {
      gap: 10px;
    }

    .fw-bold {
      font-size: 12px;
    }
    .btn-custom {
      gap: 6px;
      padding: 3px 12px;
      font-size: 11px;
    }
    .btn-custom img {
      width: 13px !important;
    }

    .tendchange-card {
      width: 80%;
      margin-top: 10px;
      gap: 10px;

      input {
        padding: 2px 15px;
        font-size: 10px;
        width: 60%;
      }

      .result {
        font-size: 10px;
        padding: 2px 20px;
        border-radius: 8px;
        font-weight: 600;
      }

      .result:hover {
        background: #4caf50;
        color: #fff;
      }
    }
  }

 .table-container {
    padding: 5px;
    margin-top: 8px;
  }

  .product-table {
    .table-row:hover {
      background-color: rgba(172, 205, 255, 0.123);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
    }

    .details h3 {
      font-size: 12px;
    }

    .tags {
      gap: 8px;
      margin-top: 1px;
    }

    .tag {
      padding: 1px 10px;
      font-size: 10px;
    }

    .disablepoint {
      cursor: default;
      pointer-events: none;
      opacity: 0.4;
    }

    .product-image {
      width: 32px;
      height: 32px;
    }

    .quantity-control {
      gap: 7px;
    }

    .qty-btn {
      padding: 0px 4px;
      font-size: 14px;
      font-weight: bold;
      height: 22px;
      width: 22px;
    }

    .quantity {
      font-size: 12px;
    }

    .product-price,
    .product-Total {
      font-size: 12px;
      font-weight: bold;
      margin-top: 5px;
    }

    tfoot {
      .footer {
        font-size: 11px;
        padding: 3px;
        width: 100%;
      }

      .netAmount {
        font-size: 13px;
      }
    }
  }

  .product-table th,
  .product-table td {
    padding: 8px;
  }

  .product-tablewithCatPro {
    .details h3 {
      margin: 0;
      font-size: 9px;
    }

    .tags {
      display: flex;
      gap: 8px;
      margin-top: 3px;
    }

    .tag {
      padding: 3px 10px;
      font-size: 8px;
    }

    .product-image {
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }

    .quantity-control {
      gap: 10px;
    }

    .qty-btn {
      padding: 0px 3px;
      font-size: 13px;
      height: 20px;
      width: 20px;
    }

    .quantity {
      font-size: 10px;
      font-weight: bold;
      min-width: 15px;
    }

    .product-price,
    .product-Total {
      font-size: 10px;
      font-weight: bold;
      margin-top: 5px;
    }

    tfoot {
      .footer {
        font-size: 8px;
        padding: 2px;
      }

      .netAmount {
        font-size: 10px;
      }
    }
  }

  .product-tablewithCatPro th,
  .product-tablewithCatPro td {
    padding: 6px;
  }

  .product-tablewithCatPro th {
    font-size: 10px;
  }



}

// ------------------------------------- Styles for mobile screens */

@media screen and (max-width: 600px) {
  .Grid-CartWithCusPro {
    border: 0px solid #c8c8c868;
    padding: 0px;
    margin-top: -12px;
    width: 77%;
    border-radius: 14px;

    .order-actions {
      display: none;
    }

    .tendchange-card {
      display: none;
    }
  }

  .table-container {
    background-color: rgba(235, 243, 255, 1);
    border-radius: 14px;
    padding: 4px;
    margin-top: -21px;
    width: 100%;
  }

 .table-container {
    background-color: rgba(235, 243, 255, 1);
    border-radius: 14px;
    padding: 4px;
    margin-top: -21px;
    width: 100%;
  }

  .product-tablewithCatPro {
    width: 100%;
    background-color: rgba(235, 243, 255, 1);

    .details h3 {
      margin: 0;
      font-size: 12px;
    }

    .product-actions {
      display: flex;
    }

    .quantity-control {
      gap: 0px;
    }

    .qty-btn,
    .tags,
    .product-image,
    .PriceColumn {
      display: none;
    }

    .quantity {
      font-size: 12px;
    }

    .product-price,
    .product-Total {
      font-size: 12px;
      font-weight: 600;
      margin-top: 5px;
    }
    .product-Total {
      display: flex;
      justify-content: space-between;
      i {
        display: none;
      }
    }

    tfoot {
      td {
        background-color: #bed7fb;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      border-top: 1px solid #bed7fb !important;
      border-bottom: none;
      background-color: #bed7fb !important;
      .footer {
        font-size: 12px;
        padding: 3px;
      }

      .SelectedTable,
      .Tendered,
      .Balance,
      .orderType,
      .Tax {
        display: none;
      }

      .netAmount {
        font-size: 13px;
      }
    }
  }

  .product-tablewithCatPro th,
  .product-tablewithCatPro td {
    padding: 8px;
    border-bottom: none;
    font-size: 12px;
  }

  .product-tablewithCatPro th {
    font-size: 12px;
    border-bottom: 1px solid #bed7fb;
  }



}
